/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
   
}
/* 그렇게하면 안될거 같은데 일단은 이렇게 하는거로 생각하자. 일일단 이거 해보고 안되면 수정해야될듯. 홈페이지랑  */

body{
    background-color: black;
    color: white;
    line-height: 1.6em;
    width: 100vw; 
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow: auto;
}

a{
    text-decoration: none;
    color:white;
}

.container{ 
    position: relative;
    min-width:100vw;
    height: inherit;
    
 }

/* Header */
.container header{
    overflow: hidden;
    padding: 15px 55px;
    position: absolute;
    width: 100vw;
    z-index: 1;
    
}
.logo{
    float:left;
}
.logo img{
    width: 170px;
}

.container .signin button{
    cursor: pointer;
    border: none;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding:7px 15px;
    font-size: 16px;
    text-transform: capitalize;
    float: right;
}


/* Section - Welcome */

.welcome{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    position: relative;
}



.welcome::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.heading{
    margin-top: 50px;
    width: 100%;
    height: 55%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading h1{
    font-size: 60px;
    font-weight: 600;
}

.heading h4{
    font-size: 30px;
    font-weight: 400;
}

.heading p{
    font-size: 18px;
    font-weight: normal;
}

.getstarted{
    position: relative;
    display: flex;
    justify-content: center;
    height: 20%;
    
}


.getstarted input[type=email]{
    position: relative;
    background-color: rgba(0, 0, 0, 0.379);
    width: 30%;
    padding-left: 15px;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.343);
    /* border: 1px solid crimson; */
    font-size: 16px;
    padding-top: 15px;
    /* vertical-align: middle;
        버튼이랑 동시에 줬을 떄 수평 맞추려면 이렇게.
    */
    
}

.getstarted input[type=email]:focus,
.modal-email .modal-email-input:focus,
.modal-password .modal-password-input:focus{
    /* outline-color:rgb(255, 0, 0); */
    outline: 2px solid white;
    /* border: 2px solid crimson; */
    
}

.getstarted .email-input.valid,
.getstarted .email-input2.valid,
.modal-email-input.valid,
.modal-password-input.valid
{   
    border: 1.5px solid rgb(0, 185, 0) !important;
    /* 아 이거 흠, modal-email 이랑 password같은 경우엔 이 위치보다 더 나중에 쓰여서 우선 순위가 그게 먼저인듯. 그래서 important해줬음 */
}


.getstarted .email-input.unvalid,
.getstarted .email-input2.unvalid,
.modal-email-input.unvalid,
.modal-password-input.unvalid{
    border: 1.5px solid crimson !important;
}


.getstarted .email-placeholder,
.faq-list .getstarted .email-placeholder2
{
    font-size: 17px;
    position: absolute;
    left:26.7%;
    top:17px;
    color:rgba(255, 255, 255, 0.611);
    transition: 0.3s;
    pointer-events: none;
}

.email-placeholder3,
.password-placeholder3{
    /* border: 1px solid white; */
    font-size: 15px;
    position: absolute;
    top:12.5px;
    left:15px;
    transition: 0.3s;
    color:rgba(255, 255, 255, 0.611);
    pointer-events: none;
}



.getstarted .email-placeholder.active,
.faq-list .getstarted .email-placeholder2.active{
   position: absolute;
   left:26.9%;
   top:5px;
   font-size: 12px;
   transition: 0.2s;
}

.email-placeholder3.active,
.password-placeholder3.active{
    font-size: 12px;
    position: absolute;
    /* top:25%;
    left:5%; */
    top:2px;
    left:16px;
    transition: 0.3s;
    color:rgba(255, 255, 255, 0.611);
    pointer-events: none;
}

/* TODO: 오늘 여기까지 함 이따 더 해야할듯 */
/* FIXME: login 모달에서 이메일이랑 비번 놓는 곳 active 자바 스크립트 추가 해야되고, valid랑 unvalid도 추가해야함. */

.getstarted button{
    width:18%;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: rgba(255, 0, 0, 0.905);
    font-size:25px;
    font-weight: 550;
    cursor: pointer;    
}


#close-circle,
#close-circle2{
    visibility: hidden;
    width: 20%;
    font-size: 20px;
    display: flex;
    position: absolute;
    left:372px;
    padding-top:8px;
    color: crimson;
}

/* FIXME: 5월12일 해야될거. 이거 흠, absolute로 하면 안 되고 아래에 추가 되게 해서 아래 항목들 밀어내야 할듯 */
/* TODO: 이거 하.. 높이 조절해서 해봐야 할듯. 이거 지금 높이 조절해서 circle3 넣고 circle3p도 넣어야함. 그러려면 login modal 자체 크기도 가변적으로 늘어나도록 바꿀수 있어야함. */
#close-circle3{
    display: none;
    width: 100%;
    /* border: 1px solid white; */
    margin-top: 7px;
    font-size: 18px;
    color: crimson;
    /* border: 1px solid white; */
    height: 20px;
    
}


#close-circle3 span{
    line-height: 1.45em;
    padding-left: 3px;
    font-size: 13px;
    vertical-align: top;
}

#close-circle4{
    display: none;
    width: 100%;
    margin-top: 7px;
    font-size: 18px;
    color: crimson;
    /* border: 1px solid white; */
    height: 43px;
}

#close-circle4 span{
    margin-top:1px;
    padding-left: 3px;
    font-size: 13px;
    line-height: 1em;
}



#close-circle2{
    top:60px;
}

#close-circle p,
#close-circle2 p{
    margin-top:4px;
    padding-left: 2px;
    font-size: 13px;
}

/* Section = adsplacn */

.adsplan{
    display: flex;
    width:inherit;
    /* box-shadow: 10px 10px 10px 10px red; */
}

.ads-container{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    background-image: linear-gradient(to right, black 0%, #0250c583 20%, #d43f8c86 40%, #d43f8c86 60%,#0250c583 80%, black 100%);
    box-shadow: 50px 0 35px 0px rgb(0, 0, 0) inset,
                -50px 0 35px 0px rgb(0, 0, 0) inset;
}

.ads-icon{
    width: 10%;
    height: 100%;
    position: relative;
    
}

.ads-icon img{
    position: absolute;
    width: 90%;
    height: 80%;
    object-fit: cover;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.ads-content{
    line-height: 0.8em;
    padding-bottom: 10px;
  
}

.ads-content a{
    text-decoration: underline;
    color:rgb(97, 147, 255);
    font-weight: 550;
    
}

.ads-content i{
    height: 20px;
    padding-left:8px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;    
}


/* TODO: Sections Common */

.enjoy-container,
.watch-container,
.create-container,
.download-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    border-bottom: 6px solid rgba(128, 128, 128, 0.333);
}

.enjoy-content,
.create-content
{
    margin-left: 200px;
    width: inherit;
    height: 100%;
    padding-left: 80px;
    padding-top: 80px;
}


.watch-content,
.download-content{
    margin-right:200px;
    width:inherit;
    height: 100%;
    padding-right:80px;
    padding-top:80px;
}

.enjoy-content h3,
.watch-content h3,
.create-content h3,
.download-content h3{
    font-size: 50px;
}

.enjoy-content h5,
.download-content h5,
.watch-content h5,
.create-content h5,
.download-content h5{
    font-size: 20px;
    font-weight: normal;
}





/* Section = enjoy */

.enjoy-container .tv-gif{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    margin-right: 200px;
}

.enjoy-container .tv-gif img{
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
    z-index: 1;

}
.enjoy-container .tv-gif video {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.126);
    width: 78%;
    height: 55%;
    object-position: left;
    object-fit: cover;
    z-index: 0;
    top:50%;
    left:50%;
    transform: translate(-50.5%,-53.5%);
}


/* Section Part Watch */


.watch-container{
    
}    

.watch-container .tv-gif{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right:100px;
}
.watch-container .tv-gif img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: inherit;
    height: inherit;
    object-fit: cover;
    z-index: 1;
}

.watch-container .tv-gif video{
    position: absolute;
    width: 70%;
    height: 45%;
    object-fit: cover;
    z-index: 0;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}


/* TODO: Create Profiles*/

.create-content{
    margin-left: 50px;
    padding-left: 200px;
}

.kids-image{
    position: relative;
    width: 80%;
    height: 80%;
    overflow: hidden;
    margin-right: 180px;
}

.kids-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    
}


/* TODO: Section download */

.download-container .tv-gif{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 200px;
    box-shadow: 10px black;
    
    
}

.download-container #mobile-background{
    
    width: inherit;
    height: inherit;
    object-fit: cover;
    padding-bottom: 50px;
    /* box-shadow: 0 10px 10px -10px rgb(0, 0, 0); */
    /* TODO: 이건 박스 셰도우가 아니라 ABSOLUTE하나 더 만들어서 하거나, 이미 만들어진 ABSOLUTE 아래에다가 bordershadow를 줘야할듯 */
}

.down-loading{

    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    top:50%;
    left:50%;
    transform: translate(-50%,30%);
    width: 60%;
    height: 26%;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, 0.211);
    overflow: hidden;
    box-shadow: 0 20px 300px 0px rgb(0, 0, 0);
    /* TODO:갔따와서 바로 위 박스 셰도우  수정하면 됨 */
    /* BOXSHADOW 처음이 좌우, 다음이 상하, 그 다음이 얼마나 얕게 보이게 할지, 그 다음이 그림자 크기    */
}

.down-loading img{
    width: 50%; 
    height: 100%;
    object-fit: cover;
    padding: 10px;
}

.down-loading img:nth-child(1){
    margin-left: 5px;
    
}

.down-loading p{
    margin-right: 10px;
    width: 100%;
    font-size: 17px;
    font-weight: 550;
}
.down-loading span{
    font-size: 14px;
    font-weight: normal;
    color: rgb(41, 116, 255);
}

#download-icon{
    width: 45%;
    height: 70%;
    margin-right: 3px;
}


.download-content{
    width: inherit;
    padding-right: 0;
    width: 100%;
}
.download-content h3{
    min-width: 100%;
    margin-top: 0;
    line-height: 1.3em;
}


/* Section Part faq */


.faq-list{
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid rgba(128, 128, 128, 0.333);
    
}

.faq-list h3{
    margin-bottom: 35px;
    font-size: 48px;
    text-align: center;
}

.faq-list .question-list{
    width: 100%;
    
}


.faq-list .question-list ul{
    list-style: none;
    width: 100%;
}

.faq-list .question-list li:not(.active){
    position: relative;
    background-color: rgba(128, 128, 128, 0.34);
    padding-left: 30px;
    display: flex;
    align-items: center;
    margin-inline: 150px;
    margin-bottom: 10px;
    font-size: 27px;
    height: 12vh;
    cursor: pointer;
    /* transition: 0.5s; */
}

.faq-list .question-list li.active{
    background-color: rgba(128, 128, 128, 0.34);
    font-size: 27px;
    margin-bottom: 10px;
    margin-inline: 150px;
    padding-left: 30px;
    cursor: default;
    margin-top: -9px;    
    /* display: none; */
    max-height: 0px;
    transition: 0.3s;
    overflow: hidden;
    line-height: 1.5em;
}

/* .question-list li::before{
    content: '';
    position: absolute;
    bottom:-13vh;
    left: 0px;
    width: 100%;
    height: 100%;
    
    border: 1px solid white;
} */

.question-list li:not(.active):after{
    font-family: "xeicon";
    content: '\e913';
    font-size: 32px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:20px;
    width: 40px;
    height: 40px;
}

.faq-list h4{
    margin-top: 40px;
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    /* border: 1px solid white; */
}
/* faq - input button  */

.faq-list .getstarted{
    /* border: 1px solid white; */
    height: 8vh;
    padding-bottom: 40px;
    margin-bottom: 40px;
    
    
    
}

.faq-list .email-input2{
    height: 420%;
}

.faq-list button{
    height: 420%;
}


/* *Footer Section */


.sitemap{
    height: 100%;
    padding-bottom: 30px;
}

.sitemap h4{
    text-decoration: underline;
    color: rgb(162, 161, 161);
    font-size: 18px;
    padding-left: 186px;
}
.links{
    display: flex;
    justify-content: center;
    gap: 203px;
}
.items1 a,
.items2 a,
.items3 a,
.items4 a{
    text-decoration: underline;
    font-size: 14px;
    display: block;
    color: rgb(162, 161, 161);
}


/* *Login Modal */
/* todo Modal Part */

.modal-login{
    background-color: rgb(0, 0, 0.7, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    display: none;
}

/* TODO: 5월12일 해야될거, 이 아래 height 지워버리는게 나을수도 있을듯, 아니면 min-height로 주던가. */

.login{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.563);
    width: 30%;
    /* height: 80%; */
    min-height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.login a:hover{
    text-decoration: underline;
}

.login h4{
    width: 75%;
    font-size: 32px;
    font-weight: 450;
    margin-bottom: 30px;
    float: left;
}

.login .xi-close{
    position: absolute;
    right: 8px;
    font-size: 25px;
    cursor: pointer;
}

.modal-email{
    position: relative;
    width: 75%;
    max-height: 100px;
    /* margin-bottom: 5px; */
}

.modal-password{
    position: relative;
    width: 75%;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 1px solid white; */
}

.modal-email .modal-email-input,
.modal-password .modal-password-input{
    position: relative;
    background-color: rgba(0, 0, 0, 0.379);
    width: 30%;
    padding-left: 15px;
    color: white;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 15px;
    color: white;
    width: 100%;
    height: 50px;
    border:1px solid rgba(255, 255, 255, 0.343);
}


.eye-icon-container{
    position: absolute;
    top:10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.xi-eye-o,
.xi-eye-off-o{
    cursor: pointer;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}


.xi-eye-off-o{
    visibility: hidden;
}

.eye-icon-container:hover{
    background-color: rgba(255, 255, 255, 0.253);
}


.login input[type=button]{
    width: 75%;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 4px;
    padding-block:10px;
    font-size: 17px;
    letter-spacing: 1px;
    /* margin-top: 8px; */
    /* margin-top: 20px; */
    
}

#modal-signin{
    background-color: rgba(255, 0, 0, 0.905);
    text-transform: capitalize;
}

#modal-signin + p{
    font-size: 17px;
    color:rgb(145, 144, 144);
}

#modal-signin-code{
    margin-bottom:10px;
    background-color: rgba(128, 128, 128, 0.518);
}

#modal-signin-code + a{
    font-weight: 350;
    font-size: 15px;
}

#modal-signin-code + a:hover{
    color: rgb(164, 164, 164);
}

.save-info{
    width: 75%;
    margin-top: 15px;
    
}

.remember-label{
    font-size: 14px;
    font-weight: 400;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    
}

.remember-label:hover .remember-button {
    border: 1px solid white;
    transition: 0.3s;
  }

.remember-button{
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(161, 161, 161, 0.426);
    margin-right: 10px;
    border-radius: 2px;
    transition: 0.3s;
}

#checkbutton{
    visibility: hidden;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.remember-button.active{
    color:black;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    background-color: white;
    margin-right: 10px;
    border-radius: 2px;
    transition: 0.3s;
}

.remember-button.active:hover{
    background-color: rgba(255, 255, 255, 0.686);
}

.sign-up{
    margin-top: -10px;
    font-size: 15px;
    width: 75%;
}

.sign-up p{
    color:rgb(165, 162, 162);
}

.notice{
    margin-top: -10px;
    width: 75%;
    height: 10%;

}

.notice p{
    line-height: 1.5em;
    word-spacing: 2px;
    height: 100%;
    font-size: 11px;
    color: grey;
}

.notice a{
    font-size: 12px;
    color: rgb(27, 109, 250);
}

