/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0;
}
body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 30px;
}

.title h1{
    color: white;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.icons button{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 50px;
    width: 130px;
    margin-right: 20px;
    border-radius: 3px;
    border: none;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    cursor: pointer;
    
}

.icons i{
    padding-left: 5px;
}


/* Audio Effect */

.audio-status{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.audio-status span {
    float: left;
    width: 3px;
    height: 100%;
    background-color: yellowgreen;
    margin-right:2px;
    /* animation: audio-bar 1s linear infinite; */
}

.audio-status.active span{
    animation: audio-bar 1s linear infinite;
}

.audio-status.active span:nth-child(1){
    animation-delay: 0s;
}
.audio-status.active span:nth-child(2){
    animation-delay: 0.2s;
}
.audio-status.active span:nth-child(3){
    animation-delay: 0.4s;
}
.audio-status.active span:nth-child(4){
    animation-delay: 0.6s;
}
@keyframes audio-bar{
    0%{
        height: 0;
    }
    50%{
        height: 100%;
    }

    100%{
        height: 20%;
    }
}