/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');


/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5em;
    margin: 0;
}

.heading{
    font-family: 'GmarketSansMedium';
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
}

.heading b{
    color:rgb(159, 159, 255);
}

.heading span{
    color:rgb(254, 137, 199);
}

.items-inner h2{
    text-align: left;
    
}

/* Shopping Mall UI Items */

.items-inner{
    width:1350px;
    margin-left:50px;
    margin-top: -40px;
    margin-bottom: 100px;
    
}
.items{
    display: flex;
    justify-content: space-between; 
    gap:20px;
    counter-reset: item;
}


.item{
    /* margin:7px;
    display:inline-block; */
    flex:1;
    position: relative;   
}

.item::before{
    position: absolute;
    content: counter(item);
    counter-increment: item;
    color:white;
    font-size:18px;
    font-weight: 400;
    text-align: center;
    line-height: 2em;
    background-color: grey;
    width:40px;
    height: 40px;
    z-index: 10;
}

.item:hover::before{
    background-color: red;
}

.photo{
    position: relative;
   height: 389px;
}

.photo a{}
.photo a img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.photo a img:first-child{
    z-index: 1;
}
.photo a img:last-child{}
.photo:hover a img:first-child{
    opacity: 0;
}
.photo:hover a img:last-child{
    
}
.detail{
    position: relative;
}
.detail span{
    display:block;
}
.detail .price b{
    color:crimson;
    margin-right: 10px;
}
.detail .name{
    font-weight: 400;
}
.detail .count{
    color: #777;
}
.detail .like{ 
    position: absolute;
    width: 20px;
    height: 20px;
    right: 1px;
    top: 1px;
    padding-right: 8px;
    cursor:pointer;
}

.detail .like::before{
    content:"\f08a";
    font-family: fontawesome;
    font-size: 18px;
    color:red;
}

.detail .like.active::before{
    content:"\f004";
    font-family: fontawesome;
    color:red;
    font-size:18px;
    
}